<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ .Title }}</title>

    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <style type="text/tailwindcss">
      @theme {
        --font-sans: consolas;
      }

      @layer base {
        button {
          @apply cursor-pointer;
        }
      }
    </style>
  </head>
  <body class="grid grid-rows-[auto_1fr_auto] h-dvh">
    <header class="flex justify-end border-b border-neutral-300 py-2 px-4">
      <button type="button" class="open-button border rounded-md px-4">New URL</button>
    </header>

    <main class="flex flex-col items-center gap-y-10 overflow-y-auto pt-10 px-4 last:mb-10">
      {{ range $key, $value := .Logs }}
      <div>
        <h3 class="font-semibold uppercase mb-2">{{ $key }}</h3>

        <ul class="flex gap-x-1">
          {{ range $log := $value }}
          <li>
            <div
              title="{{ $log.Status }} - {{ $log.Message }} - {{ $log.CreatedAt}}"
              class="record shrink-0 w-2 h-16 rounded-lg {{ if eq $log.Status 200 }} bg-green-400 {{ else }} bg-red-500 {{ end }}"
            ></div>
          </li>
          {{ end }}
        </ul>
      </div>
      {{ end }}
    </main>

    <footer class="text-neutral-500 border-t border-neutral-300 py-2 px-4">
      <time></time>
    </footer>

    <dialog class="w-full max-w-md top-1/2 left-1/2 -translate-1/2 rounded-lg p-5">
      <form
        hx-post="/project"
        hx-on::after-request="window.location.reload()"
        class="flex flex-col gap-y-6"
      >
        <header>
          <button type="button" class="close-button">X</button>
        </header>

        <div class="form-field">
          <label for="project" class="block font-medium mb-2">Project</label>
          <input
            required
            type="text"
            id="project"
            name="name"
            pattern="[A-Za-z0-9]+"
            class="w-full border rounded-md p-2"
          />
        </div>

        <div class="form-field">
          <label for="url" class="block font-medium mb-2">URL</label>
          <input type="url" id="url" name="url" class="w-full border rounded-md p-2" />
        </div>

        <button type="submit" class="bg-neutral-900 text-gray-200 rounded-md py-3">Submit</button>
      </form>
    </dialog>

    <script src="/htmx.min.js"></script>

    <script>
      const dateTimeOptions = {
        day: 'numeric',
        month: 'long',
        year: '2-digit',
        minute: '2-digit',
        hour: '2-digit',
      };

      const timeOptions = { hour12: false, hourCycle: 'h24' };

      const lastUpdatedTag = document.querySelector('footer time');

      // * set last-updated time
      lastUpdatedTag.textContent = new Date().toLocaleDateString('en-US', dateTimeOptions);

      const records = document.querySelectorAll('.record');

      // * format the title's CreatedAt time format
      records.forEach(record => {
        const titleChunks = record.title.trim().split(/\s*-\s*/);
        const createdAt = new Date(titleChunks.pop());

        titleChunks.push(createdAt.toLocaleTimeString('en-US', timeOptions));
        record.title = titleChunks.join(' - ');
      });

      // * automatically refresh the page every minute to get the latest data
      setInterval(() => {
        window.location.reload();
      }, 60_000);

      const dialog = document.querySelector('dialog');
      const openButton = document.querySelector('.open-button');
      const closeButton = document.querySelector('.close-button');

      openButton.addEventListener('click', () => {
        dialog.showModal();
      });

      closeButton.addEventListener('click', () => {
        dialog.close();
      });
    </script>
  </body>
</html>
